<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruments List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Инструменты:</h1>
    <ul>
        {% for instrument in instruments %}
            <li>
                <a href="{% url 'instrument_detail' instrument.id %}">
                    {{ instrument.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="javascript:history.back()" class="back-button">Назад</a>
    <a href="{% url 'index' %}" class="back-button">На главную</a>
</body>
</html>
