<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ country.country_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{ country.country_name }}</h1>
    <h2>Народы:</h2>
    <ul>
        {% for people in people_list %}
            <li><a href="{% url 'instrument_categories' people.id %}">{{ people.people_name }}</a></li>
        {% endfor %}
    </ul>
    <a href="javascript:history.back()" class="back-button">Назад</a>
    <a href="{% url 'index' %}" class="back-button">На главную</a>
</body>
</html>
